* {
  margin: 0;
  padding: 0;
}
h1,
p {
  font-family: Lato;
}
.App {
  margin: 0;
  padding: 0;
  background-color: rgba(97, 8, 8, 0.5);
  color: #fff;
  display: flex;
  font-family: 'Muli', sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
input[type='text'] {
  margin-right: 0;
  width: 300px;
  height: 40px;
  text-align: center;
}
input[type='submit'] {
  width: 140px;
  height: 40px;
  text-align: center;
  background-color: rgba(97, 8, 8, 0.35);
  border: none;
  cursor: pointer;
}
ul {
  margin-bottom: 40px;
}
ul > div {
  display: flex;
}
li {
  margin-bottom: 7px;
  color: rgb(31, 30, 30);
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.add {
  display: flex;
  float: left;
}
.remove {
  float: left;
}
h2,
h4 {
  margin: 10px 0 20px;
  text-align: center;
}
.App_container {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 12px 10px;
  height: 450px;
  width: 320px;
  border-radius: 10px;
}
button {
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  background-color: rgba(97, 8, 8, 0.3);
  cursor: pointer;
}
.forms {
  margin: 10px;
}
form {
  padding: 10px;
}
